@model RoomViewModel


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>


<div class="container">
    <div class="py-5 text-center">
    </div>
    <div class="row">
        <input type="hidden" id="idEvent" name="idEvent" value="@Model.IdEvent" />
        <input type="hidden" id="idRoom" name="idRoom" value="@Model.IdRoom" />
        <div class="col-6">
            <!-- Форма для получения сообщений и имени -->
            <h3>@Localizer["MessageForm"]</h3>
            <form id="messForm">
                <label for="name">@Localizer["Name"]</label>
                <input type="text" name="name" id="name" value="@Model.UserName  @Model.UserSurname" disabled>

                <br>
                <label for="message">@Localizer["Message"]</label>
                <textarea name="message" id="message" class="form-control" placeholder="@Localizer["Enter"]"></textarea>
                <br>

                <input type="submit" value="@Localizer["Send"]" class="btn btn-danger">
                <button id="sent" value="Шли уже"></button>
            </form>
        </div>
        <div class="col-6">
            <h3>@Localizer["Messages"]</h3>
            <!-- Вывод всех сообщений будет здесь -->
            <div id="all_mess"></div>
        </div>
    </div>
</div>
<script charset="utf-8" src="~/js/room.js"></script>

