@model EventViewModel

@inject WirtConfer.Data.ApplicationDbContext _dbContext

<h1>
    @Model.IdEvent
</h1>

<h2>
    @Model.Name
</h2>

<a asp-controller="Event" asp-action="CreateInvite" asp-route-idEv="@Model.IdEvent" asp-route-invType="0">Create single </a>
	&nbsp;	&nbsp;	&nbsp;
<a asp-controller="Event" asp-action="CreateInvite" asp-route-idEv="@Model.IdEvent" asp-route-invType="1">Create many</a>
<br />

<h4>Active invites in this event</h4>
<table>
    <thead>
        <tr>
            <th>Url</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var invite in _dbContext.Invites.Where(o => o.EventId == Model.IdEvent))
        {
            <tr>
                <td>
                    <label>@invite.Url</label>
                </td>
                <td>
                    <label>@invite.Type.ToString()</label>
                </td>

                <td>
                    <a asp-controller="Event" asp-action="DeleteInvite" asp-route-idInv="@Model.IdEvent"> Delete </a>
                </td>
            </tr>
        }

    </tbody>
</table>


<a asp-controller="Event" asp-action="CreateRoom" asp-route-idEv="@Model.IdEvent">Create room in this event</a>
<br />


<h5>Rooms in this event</h5>
<ul>
    @foreach (var room in _dbContext.Rooms.Where(o => o.EventId == Model.IdEvent))
    {
        <li><a asp-controller="Event" asp-action="Room" asp-route-idRoom="@room.Id"> @room.Name </a></li>

        <li><a asp-controller="Event" asp-action="DeleteRoom" asp-route-id="@room.Id"> Delete event</a></li>
    }

</ul>
