@model IEnumerable<Event_>

@inject WirtConfer.Data.ApplicationDbContext _dbContext
@inject Microsoft.AspNetCore.Identity.UserManager<User> _userManager
@using Microsoft.EntityFrameworkCore;




<a onclick="showCreateEvent('@Url.Action("CreateEv","Event",null,Context.Request.Scheme)')"  class="btn btn-success" >@Localizer["CreateEv"]</a>

<p class="mb-5">

</p>
@if (Enumerable.Count(Model) == 0)
{
    <h3 class="lead">@Localizer["NoEv"]</h3>
}
else
{
    <table class="table table-striped" align="center">
        <thead class="thead-dark">
            <tr>
                <th class="lead">@Localizer["EvName"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model)
            {
                <tr>
                    <td>
                        <a class="lead " asp-controller="Event" asp-action="Event" asp-route-id="@e.Id"> @e.Name </a>
                    </td>

                    @if (e.OwnerId == _userManager.GetUserId(User))
                    {
                        <td>
                            <a onclick="showCreateEvent('@Url.Action("CreateEv","Event",new {id = e.Id },Context.Request.Scheme)')" class="btn btn-success ml-2">@Localizer["Update"]</a>
                            <a class="btn btn-danger" asp-controller="Event" asp-action="DeleteEv" asp-route-id="@e.Id"> @Localizer["Delete"] </a>

                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}





<div class="modal" tabindex="-1" role="dialog" id="CreateEventModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>